--
-- PostgreSQL database dump
--

\restrict j0VPwTllZgX5rap8sdG2rQYa2jJmve0Aa4claIAaIXqgnq91CqnOsh8EchuH7eh

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO "user";

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: user
--

COMMENT ON SCHEMA public IS '';


--
-- Name: CurrencyType; Type: TYPE; Schema: public; Owner: user
--

CREATE TYPE public."CurrencyType" AS ENUM (
    'COIN',
    'DIAMOND'
);


ALTER TYPE public."CurrencyType" OWNER TO "user";

--
-- Name: GameStatus; Type: TYPE; Schema: public; Owner: user
--

CREATE TYPE public."GameStatus" AS ENUM (
    'WAITING',
    'ACTIVE',
    'FINISHED'
);


ALTER TYPE public."GameStatus" OWNER TO "user";

--
-- Name: PointType; Type: TYPE; Schema: public; Owner: user
--

CREATE TYPE public."PointType" AS ENUM (
    'TRIVIA',
    'GAME',
    'DONATION',
    'BONUS',
    'PURCHASE'
);


ALTER TYPE public."PointType" OWNER TO "user";

--
-- Name: QuestionRewardType; Type: TYPE; Schema: public; Owner: user
--

CREATE TYPE public."QuestionRewardType" AS ENUM (
    'STANDARD',
    'WINNER_TAKES_ALL'
);


ALTER TYPE public."QuestionRewardType" OWNER TO "user";

--
-- Name: StreamStatus; Type: TYPE; Schema: public; Owner: user
--

CREATE TYPE public."StreamStatus" AS ENUM (
    'WAITING',
    'PAUSE',
    'LIVE',
    'FINISHED'
);


ALTER TYPE public."StreamStatus" OWNER TO "user";

--
-- Name: TransactionStatus; Type: TYPE; Schema: public; Owner: user
--

CREATE TYPE public."TransactionStatus" AS ENUM (
    'PENDING',
    'SUCCESS',
    'FAILED'
);


ALTER TYPE public."TransactionStatus" OWNER TO "user";

--
-- Name: TransactionType; Type: TYPE; Schema: public; Owner: user
--

CREATE TYPE public."TransactionType" AS ENUM (
    'PURCHASE',
    'EARN',
    'SPEND',
    'TRANSFER',
    'GIFT',
    'REFUND',
    'WINNER_PAYOUT'
);


ALTER TYPE public."TransactionType" OWNER TO "user";

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: user
--

CREATE TYPE public."UserRole" AS ENUM (
    'HOST',
    'PLAYER',
    'MODERATOR',
    'VIEWER'
);


ALTER TYPE public."UserRole" OWNER TO "user";

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO "user";

--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.chat_messages (
    id text NOT NULL,
    sender_id text NOT NULL,
    receiver_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    content text NOT NULL
);


ALTER TABLE public.chat_messages OWNER TO "user";

--
-- Name: credit_cards; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.credit_cards (
    id text NOT NULL,
    user_id text NOT NULL,
    last_4_digits text NOT NULL,
    token text NOT NULL,
    cvv text,
    exp_date text NOT NULL,
    tz text,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.credit_cards OWNER TO "user";

--
-- Name: follows; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.follows (
    id text NOT NULL,
    follower_id text NOT NULL,
    following_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.follows OWNER TO "user";

--
-- Name: game_participants; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.game_participants (
    id text NOT NULL,
    game_id text NOT NULL,
    user_id text NOT NULL,
    role public."UserRole" NOT NULL,
    score double precision DEFAULT 0.00 NOT NULL,
    joined_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.game_participants OWNER TO "user";

--
-- Name: games; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.games (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    host_id text NOT NULL,
    moderator_id text,
    stream_id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    finished_at timestamp(3) without time zone,
    status public."GameStatus" DEFAULT 'WAITING'::public."GameStatus" NOT NULL,
    started_at timestamp(3) without time zone
);


ALTER TABLE public.games OWNER TO "user";

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.notifications (
    id text NOT NULL,
    user_id text NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    message text NOT NULL,
    title text NOT NULL
);


ALTER TABLE public.notifications OWNER TO "user";

--
-- Name: question_options; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.question_options (
    id text NOT NULL,
    question_id text NOT NULL,
    text text NOT NULL,
    is_correct boolean DEFAULT false NOT NULL,
    linked_player_id text
);


ALTER TABLE public.question_options OWNER TO "user";

--
-- Name: questions; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.questions (
    id text NOT NULL,
    game_id text NOT NULL,
    question_text text NOT NULL,
    reward_type public."QuestionRewardType" DEFAULT 'STANDARD'::public."QuestionRewardType" NOT NULL,
    is_resolved boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.questions OWNER TO "user";

--
-- Name: streams; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.streams (
    id text NOT NULL,
    title text NOT NULL,
    host_id text NOT NULL,
    start_time timestamp(3) without time zone,
    end_time timestamp(3) without time zone,
    status public."StreamStatus" DEFAULT 'WAITING'::public."StreamStatus" NOT NULL,
    last_paused_at timestamp(3) without time zone,
    "accumulatedPauseMs" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.streams OWNER TO "user";

--
-- Name: transactions; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.transactions (
    id text NOT NULL,
    user_id text NOT NULL,
    type public."TransactionType" NOT NULL,
    status public."TransactionStatus" DEFAULT 'PENDING'::public."TransactionStatus" NOT NULL,
    amount numeric(10,2) NOT NULL,
    description text,
    failure_reason text,
    payment_method text,
    last_4_digits text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    currency public."CurrencyType" DEFAULT 'COIN'::public."CurrencyType" NOT NULL,
    game_id text,
    metadata jsonb
);


ALTER TABLE public.transactions OWNER TO "user";

--
-- Name: user_answers; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.user_answers (
    id text NOT NULL,
    user_id text NOT NULL,
    question_id text NOT NULL,
    selected_option_id text NOT NULL,
    wager double precision DEFAULT 0.00 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.user_answers OWNER TO "user";

--
-- Name: user_points; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.user_points (
    id text NOT NULL,
    user_id text NOT NULL,
    point_type public."PointType" NOT NULL,
    amount numeric(10,2) NOT NULL,
    received_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    transaction_id text,
    game_id text
);


ALTER TABLE public.user_points OWNER TO "user";

--
-- Name: users; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.users (
    id text NOT NULL,
    username text NOT NULL,
    email text NOT NULL,
    password text,
    role public."UserRole" DEFAULT 'VIEWER'::public."UserRole" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "isVerified" boolean DEFAULT false NOT NULL,
    last_active_at timestamp(3) without time zone,
    "phoneNumber" text,
    "firebaseId" text,
    "googleId" text,
    "facebookId" text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    "isFirstPurchase" boolean DEFAULT true NOT NULL,
    stripe_customer_id text,
    "walletBalance" double precision DEFAULT 1000.00 NOT NULL
);


ALTER TABLE public.users OWNER TO "user";

--
-- Name: view_logs; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.view_logs (
    id text NOT NULL,
    user_id text NOT NULL,
    game_id text,
    duration integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    host_id text NOT NULL
);


ALTER TABLE public.view_logs OWNER TO "user";

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: chat_messages; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.chat_messages (id, sender_id, receiver_id, created_at, content) FROM stdin;
\.


--
-- Data for Name: credit_cards; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.credit_cards (id, user_id, last_4_digits, token, cvv, exp_date, tz, is_deleted, created_at) FROM stdin;
\.


--
-- Data for Name: follows; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.follows (id, follower_id, following_id, created_at) FROM stdin;
\.


--
-- Data for Name: game_participants; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.game_participants (id, game_id, user_id, role, score, joined_at) FROM stdin;
5d64d667-6a9d-4c27-a310-35f19d764dd0	c7eca2ff-12e5-4166-9dd1-875825ef1dbd	1bcb150f-bded-4ae2-9444-68e74964cf3f	HOST	0	2026-02-11 19:50:15.44
\.


--
-- Data for Name: games; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.games (id, title, description, host_id, moderator_id, stream_id, created_at, updated_at, finished_at, status, started_at) FROM stdin;
c7eca2ff-12e5-4166-9dd1-875825ef1dbd	 ╫₧╫⌐╫ק╫º ╫£╫₧╫⌐╫¬╫₧╫⌐ B 	╫₧╫ש ╫ש╫צ╫¢╫פ ╫ס╫ñ╫¿╫í?	1bcb150f-bded-4ae2-9444-68e74964cf3f	\N	1dd4f158-aeea-4039-8273-464b36d16b0a	2026-02-11 19:50:15.435	2026-02-11 19:51:23.025	\N	FINISHED	\N
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.notifications (id, user_id, is_read, created_at, message, title) FROM stdin;
\.


--
-- Data for Name: question_options; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.question_options (id, question_id, text, is_correct, linked_player_id) FROM stdin;
\.


--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.questions (id, game_id, question_text, reward_type, is_resolved, created_at) FROM stdin;
\.


--
-- Data for Name: streams; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.streams (id, title, host_id, start_time, end_time, status, last_paused_at, "accumulatedPauseMs") FROM stdin;
ad44829a-934f-432d-8176-d4f712250bb7	user  ╫₧╫á╫ק╫פ HOST ╫ס╫ף╫ש╫º╫פ	1bcb150f-bded-4ae2-9444-68e74964cf3f	\N	\N	WAITING	\N	0
1dd4f158-aeea-4039-8273-464b36d16b0a	Stream for:  ╫₧╫⌐╫ק╫º ╫£╫₧╫⌐╫¬╫₧╫⌐ B 	1bcb150f-bded-4ae2-9444-68e74964cf3f	\N	\N	WAITING	\N	0
\.


--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.transactions (id, user_id, type, status, amount, description, failure_reason, payment_method, last_4_digits, created_at, currency, game_id, metadata) FROM stdin;
\.


--
-- Data for Name: user_answers; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.user_answers (id, user_id, question_id, selected_option_id, wager, created_at) FROM stdin;
\.


--
-- Data for Name: user_points; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.user_points (id, user_id, point_type, amount, received_at, transaction_id, game_id) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: view_logs; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.view_logs (id, user_id, game_id, duration, created_at, host_id) FROM stdin;
\.


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: credit_cards credit_cards_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.credit_cards
    ADD CONSTRAINT credit_cards_pkey PRIMARY KEY (id);


--
-- Name: follows follows_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_pkey PRIMARY KEY (id);


--
-- Name: game_participants game_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.game_participants
    ADD CONSTRAINT game_participants_pkey PRIMARY KEY (id);


--
-- Name: games games_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: question_options question_options_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.question_options
    ADD CONSTRAINT question_options_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: streams streams_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.streams
    ADD CONSTRAINT streams_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: user_answers user_answers_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_answers
    ADD CONSTRAINT user_answers_pkey PRIMARY KEY (id);


--
-- Name: user_points user_points_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_points
    ADD CONSTRAINT user_points_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: view_logs view_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.view_logs
    ADD CONSTRAINT view_logs_pkey PRIMARY KEY (id);


--
-- Name: follows_follower_id_following_id_key; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX follows_follower_id_following_id_key ON public.follows USING btree (follower_id, following_id);


--
-- Name: game_participants_game_id_user_id_key; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX game_participants_game_id_user_id_key ON public.game_participants USING btree (game_id, user_id);


--
-- Name: user_answers_user_id_question_id_key; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX user_answers_user_id_question_id_key ON public.user_answers USING btree (user_id, question_id);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_facebookId_key; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX "users_facebookId_key" ON public.users USING btree ("facebookId");


--
-- Name: users_googleId_key; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX "users_googleId_key" ON public.users USING btree ("googleId");


--
-- Name: users_phoneNumber_key; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX "users_phoneNumber_key" ON public.users USING btree ("phoneNumber");


--
-- Name: users_stripe_customer_id_key; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX users_stripe_customer_id_key ON public.users USING btree (stripe_customer_id);


--
-- Name: chat_messages chat_messages_receiver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_receiver_id_fkey FOREIGN KEY (receiver_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: chat_messages chat_messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: credit_cards credit_cards_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.credit_cards
    ADD CONSTRAINT credit_cards_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: follows follows_follower_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_follower_id_fkey FOREIGN KEY (follower_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: follows follows_following_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_following_id_fkey FOREIGN KEY (following_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: game_participants game_participants_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.game_participants
    ADD CONSTRAINT game_participants_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: game_participants game_participants_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.game_participants
    ADD CONSTRAINT game_participants_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: games games_host_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_host_id_fkey FOREIGN KEY (host_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: games games_moderator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_moderator_id_fkey FOREIGN KEY (moderator_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: games games_stream_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_stream_id_fkey FOREIGN KEY (stream_id) REFERENCES public.streams(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: question_options question_options_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.question_options
    ADD CONSTRAINT question_options_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: questions questions_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: streams streams_host_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.streams
    ADD CONSTRAINT streams_host_id_fkey FOREIGN KEY (host_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: transactions transactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_answers user_answers_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_answers
    ADD CONSTRAINT user_answers_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_answers user_answers_selected_option_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_answers
    ADD CONSTRAINT user_answers_selected_option_id_fkey FOREIGN KEY (selected_option_id) REFERENCES public.question_options(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_answers user_answers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_answers
    ADD CONSTRAINT user_answers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_points user_points_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_points
    ADD CONSTRAINT user_points_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_points user_points_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_points
    ADD CONSTRAINT user_points_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transactions(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_points user_points_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_points
    ADD CONSTRAINT user_points_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: view_logs view_logs_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.view_logs
    ADD CONSTRAINT view_logs_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: view_logs view_logs_host_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.view_logs
    ADD CONSTRAINT view_logs_host_id_fkey FOREIGN KEY (host_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: view_logs view_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.view_logs
    ADD CONSTRAINT view_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: user
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict j0VPwTllZgX5rap8sdG2rQYa2jJmve0Aa4claIAaIXqgnq91CqnOsh8EchuH7eh

